{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <div
        class="bg-blue py-16 lg:py-24 lg:px-24 xl:px-28 text-center lg:text-left lg:col-start-1 lg:col-end-9 observer">
        <h1
            class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl uppercase font-bold text-white mb-8 xl:mb-10">
            FORMULARIO PARA EL REGISTRO DE AVANCES
        </h1>
        <div class="inline-grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-y-4 gap-x-8 text-center">
            <a href="{{ relref . "avances/entidad.md" }}" class="inline-block font-bold uppercase py-3 px-6" style="background-color: #FBF9F8;">
                ENTIDAD</a>
            <a href="{{ relref . "avances/grupo-nucleo.md" }}" class="inline-block font-bold uppercase py-3 px-6" style="background-color: #FBF9F8;">
                GRUPO NÚCLEO</a>
            <a href="{{ relref . "avances/contrapartes.md" }}" class="inline-block font-bold uppercase py-3 px-6" style="background-color: #FBF9F8;">
                CONTRAPARTE</a>
        </div>
    </div>
    <div
        class="lg:col-start-9 lg:col-end-13 py-8 lg:px-12 xl:px-20 text-center lg:text-left lg:py-12 grid place-items-center bg-white">
        <p class="font-medium lg:text-lg xl:text-xl w-10/12 md:w-8/12 lg:w-full mx-auto text-center lg:text-left">
            Si eres parte de una Entidad responsable, una Contraparte o el Grupo Núcleo, accede al formulario para
            registrar avances de los compromisos.
        </p>
    </div>
    <div class="pb-8 md:pb-12 lg:py-16 xl:py-20 lg:col-start-1 lg:col-end-13 ">
        <h2
            class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold text-grey-dark text-center mb-4 lg:mb-5 xl:mb-6">
            ¿Cómo subir el avance?
        </h2>
        <p class="text-center lg:text-lg xl:text-xl mb-8 lg:mb-12 xl:mb-16">
            A continuación unos <strong>tutoriales</strong> de como subir el avance.
        </p>
        <div
            class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 md:gap-10 lg:gap-16 mx-auto w-11/12 lg:w-10/12">
            <div class="rounded shadow hover:shadow-lg duration-300">
                <video src="/videos/subir-avances-tutorial-1.mp4" controls></video>
                <div class="p-4">
                    <h3 class="font-bold lg:text-lg xl:text-xl mb-1 lg:mb-2">
                        Subir avances al formulario de entidades responsables
                    </h3>
                </div>
            </div>
            <div class="rounded shadow hover:shadow-lg duration-300">
                <video src="/videos/subir-avances-tutorial-2.mp4" controls></video>
                <div class="p-4">
                    <h3 class="font-bold lg:text-lg xl:text-xl mb-1 lg:mb-2">
                        Subir avances al formulario de Grupo Núcleo
                    </h3>
                </div>
            </div>
            <div class="rounded shadow hover:shadow-lg duration-300">
                <video src="/videos/subir-avances-tutorial-3.mp4" controls></video>
                <div class="p-4">
                    <h3 class="font-bold lg:text-lg xl:text-xl mb-1 lg:mb-2">
                        Subir avances al formulario de contrapartes
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}