{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="py-16 lg:py-20 xl:py-24 text-center lg:col-start-1 lg:col-end-9">
        <h2 class="relative text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl uppercase font-bold mb-4 lg:mb-8 xl:mb-10"
            style="color: #D2DDE6;">
            Ecuador
            <span
                class="block w-full normal-case text-xl lg:text-2xl xl:text-3xl font-medium text-blue absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">Plan
                de Acción de
                Gobierno Abierto</span>
        </h2>
        <h1
            class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl uppercase font-bold text-white bg-blue py-2 lg:py-4 mb-4 lg:mb-8 xl:mb-10">
            ¿CÓMO SUBIR AVANCES?
        </h1>
        <p class="block normal-case xl:text-lg font-medium mx-auto w-10/12 md:w-8/12 lg:w-7/12 xl:w-6/12">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat
        </p>
    </div>
    <div
        class="lg:col-start-9 lg:col-end-13 self-stretch p-8 lg:px-12 xl:px-16 text-center lg:text-left bg-blue grid place-items-center">
        <div class="text-center text-white">
            <h2 class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold mb-4 lg:mb-6 xl:mb-8">
                Lorem ipsum
            </h2>
            <p class="lg:text-lg xl:text-xl font-medium mb-8 lg:mb-12 xl:mb-16 mx-auto w-10/12 md:w-8/12 lg:w-full">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat
            </p>
            <a class="uppercase py-3 px-6 rounded bg-white text-body" href="#">INICIAR SESIÓN</a>
        </div>
    </div>
    <div class="py-12 lg:py-16 xl:py-20 lg:col-start-1 lg:col-end-13 ">
        <h2
            class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold text-grey-dark text-center mb-8 lg:mb-12 xl:mb-16">
            Tutoriales
        </h2>
        <div
            class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 md:gap-10 lg:gap-16 mx-auto w-11/12 lg:w-10/12">
            <div class="rounded shadow hover:shadow-lg duration-300">
                <div class="h-48 grid place-items-center mb-1 lg:mb-2 xl:mb-3" style="background-color: #464545;">
                    <img src="/images/icons/playlist.svg" alt="playlist">
                </div>
                <div class="p-2">
                    <h3 class="font-bold lg:text-lg xl:text-xl mb-1 lg:mb-2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
            <div class="rounded shadow hover:shadow-lg duration-300">
                <div class="h-48 grid place-items-center mb-1 lg:mb-2 xl:mb-3" style="background-color: #464545;">
                    <img src="/images/icons/playlist.svg" alt="playlist">
                </div>
                <div class="p-2">
                    <h3 class="font-bold lg:text-lg xl:text-xl mb-1 lg:mb-2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
            <div class="rounded shadow hover:shadow-lg duration-300">
                <div class="h-48 grid place-items-center mb-1 lg:mb-2 xl:mb-3" style="background-color: #464545;">
                    <img src="/images/icons/playlist.svg" alt="playlist">
                </div>
                <div class="p-2">
                    <h3 class="font-bold lg:text-lg xl:text-xl mb-1 lg:mb-2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
            <div class="rounded shadow hover:shadow-lg duration-300">
                <div class="h-48 grid place-items-center mb-1 lg:mb-2 xl:mb-3" style="background-color: #464545;">
                    <img src="/images/icons/playlist.svg" alt="playlist">
                </div>
                <div class="p-2">
                    <h3 class="font-bold lg:text-lg xl:text-xl mb-1 lg:mb-2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
            <div class="rounded shadow hover:shadow-lg duration-300">
                <div class="h-48 grid place-items-center mb-1 lg:mb-2 xl:mb-3" style="background-color: #464545;">
                    <img src="/images/icons/playlist.svg" alt="playlist">
                </div>
                <div class="p-2">
                    <h3 class="font-bold lg:text-lg xl:text-xl mb-1 lg:mb-2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
            <div class="rounded shadow hover:shadow-lg duration-300">
                <div class="h-48 grid place-items-center mb-1 lg:mb-2 xl:mb-3" style="background-color: #464545;">
                    <img src="/images/icons/playlist.svg" alt="playlist">
                </div>
                <div class="p-2">
                    <h3 class="font-bold lg:text-lg xl:text-xl mb-1 lg:mb-2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}