{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="lg:col-start-1 lg:col-end-9 pt-36 pb-12 lg:pt-44 lg:pb-20 xl:pt-48 xl:pb-24 lg:px-20 xl:px-28 bg-blue">
        <h1
            class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl uppercase font-bold text-white mb-4 lg:mb-5 xl:mb-6 text-center lg:text-left">
            COMPROMISOS Y <br> SUS RESPONSABLES
        </h1>
    </div>
    <div
        class="lg:col-start-9 lg:col-end-13 py-12 lg:pt-44 lg:pb-20 xl:pt-48 xl:pb-24 lg:px-16 xl:px-24 w-10/12 md:w-9/12 lg:w-full mx-auto">
        <p class="lg:text-lg xl:text-xl font-medium text-center lg:text-left">
            En esta sección podrás tener el contacto de los responsables de los compromisos del Plan de Acción
        </p>
    </div>
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #E9E7E6;">
        {{ partial "compromisos.html" . }}
    </div>
</div>
{{ end }}
{{ define "js" }}
{{ $accordion := resources.Get "js/accordion.js" | js.Build (dict "minify" true) }}
<script src="{{ $accordion.Permalink }}"></script>
{{ end }}