{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="lg:col-start-1 lg:col-end-13 py-12 md:py-16 lg:py-20 xl:py-24">
        <div class="text-center">
            <h1
                class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl uppercase font-bold text-blue-dark bg-white mb-4 lg:mb-5 xl:mb-6">
                i PLAN DE ACCIÓN
            </h1>
            <h2 class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold bg-blue-dark py-5 lg:py-6 xl:py-7 mb-4 lg:mb-6 xl:mb-8"
                style="color: #FBF9F8;">Compromisos y sus responsables</h2>
            <p class="lg:text-lg xl:text-xl font-medium mx-auto w-9/12 md:w-6/12 lg:w-6/12 xl:w-5/12">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13 pb-12 lg:pb-16 xl:pb-20">
        {{ partial "compromisos.html" . }}
    </div>
</div>
{{ end }}
{{ define "js" }}
{{ $accordion := resources.Get "js/accordion.js" | js.Build (dict "minify" true) }}
<script src="{{ $accordion.Permalink }}"></script>
{{ end }}