{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <div
        class="bg-blue-dark py-16 lg:py-28 lg:px-24 xl:px-28 text-center lg:text-left lg:col-start-1 lg:col-end-9 observer">
        <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl uppercase font-bold text-white">
            ii PLAN DE ACCIÓN
        </h1>
    </div>
    <div
        class="lg:col-start-9 lg:col-end-13 p-8 lg:px-12 xl:px-20 text-center lg:text-left py-12 grid place-items-center">
        <p class="font-medium lg:text-lg xl:text-xl w-10/12 md:w-8/12 lg:w-full mx-auto text-center lg:text-left">
            Actualmente se está ejecutando el Primer Plan de Acción de Gobierno Abierto Ecuador; en agosto de 2022 se iniciará la ejecución del Segundo Plan de Acción.
        </p>
    </div>
</div>
{{ end }}