<div class="accordion">
    <!-- 1 -->
    <button data-id="0"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">1.</span>
            <p class="text-left leading-tight">Elaboración colaborativa de la política de datos abiertos y la
                guía para su <br> implementación.</p>
        </div>
        <img class="accordion_image" src="/images/icons/close-acordion.svg" alt="close accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 accordion_content"
        style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
    <!-- 2 -->
    <button data-id="1"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">2.</span>
            <p class="text-left leading-tight">Re-diseño y actualización del portal de datos abiertos.</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
    <!-- 3 -->
    <button data-id="2"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">3.</span>
            <p class="text-left leading-tight">Plataforma de Información Abierta de Contratación Pública.</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
    <!-- 4 -->
    <button data-id="3"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">4.</span>
            <p class="text-left leading-tight">Implementación de los derechos de participación y acceso a la
                información ambiental (Escazú).</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
    <!-- 5 -->
    <button data-id="4"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">5.</span>
            <p class="text-left leading-tight">Co-diseño de la hoja de ruta para la implementación del Estándar
                EITI para mejorar la transparencia en las industrias extractivas en Ecuador (petróleo, gas y
                minería).</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
    <!-- 6 -->
    <button data-id="5"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">6.</span>
            <p class="text-left leading-tight">Desarrollo de capacidades para garantizar la transparencia y el
                acceso a la información pública.</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
    <!-- 7 -->
    <button data-id="6"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">7.</span>
            <p class="text-left leading-tight">Co-creación del Plan Nacional de Prevención y Erradicación de la
                Violencia contra las Mujeres y de Género y creación de un observatorio ciudadano de violencia de
                género y diversidades sexo-genéricas</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
    <!-- 8 -->
    <button data-id="7"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">8.</span>
            <p class="text-left leading-tight">Primer laboratorio de innovación ciudadana de Ecuador</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
    <!-- 9 -->
    <button data-id="8"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">9.</span>
            <p class="text-left leading-tight">Ciudadanización de la mejora de los trámites (simplificación)</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
    <!-- 10 -->
    <button data-id="9"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">10.</span>
            <p class="text-left leading-tight">Co-creación de una estrategia para la mejora de la Calidad de los
                Servicios Públicos de la Función Ejecutiva</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 hidden accordion_content" style="background-color: #E9E7E6;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 items-center">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
            </div>
            <picture class="lg:col-start-9 lg:col-end-13">
                <source srcset="/images/compromisos/compromiso-1@2x.png" media="(min-width: 1024px)">
                <img class="w-full h-full object-cover object-center" srcset="/images/compromisos/compromiso-1.png"
                    alt="compromiso 1">
            </picture>
        </div>
    </div>
</div>