<div class="accordion">
    <!-- 1 -->
    <button data-id="0"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">1.</span>
            <p class="text-left leading-tight">Elaboración colaborativa de la política de datos abiertos y la
                guía para su implementación.</p>
        </div>
        <img class="accordion_image" src="/images/icons/close-acordion.svg" alt="close accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 accordion_content" style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Telecomunicaciones y de la Sociedad de la Información
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Marco Sancho
                </p>
                <a href="mailto:marco.sancho@mintel.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    marco.sancho@mintel.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Red Ecuatoriana de Datos Abiertos y Metadatos (REDAM)
                </p>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-1.jpg" alt="compromiso 1">
        </div>
    </div>
    <!-- 2 -->
    <button data-id="1"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">2.</span>
            <p class="text-left leading-tight">Re-diseño y actualización del portal de datos abiertos.</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Secretaría Nacional de Planificación
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Javier Pacha
                </p>
                <a href="mailto:jpacha@planificacion.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    jpacha@planificacion.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Fundación de Ayuda por Internet
                </p>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-2.jpg" alt="compromiso 2">
        </div>
    </div>
    <!-- 3 -->
    <button data-id="2"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">3.</span>
            <p class="text-left leading-tight">Plataforma de Información Abierta de Contratación Pública.</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Servicio Nacional de Contratación Pública
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Wladimir Taco
                </p>
                <a href="mailto:wladimir.taco@sercop.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    wladimir.taco@sercop.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Fundación Ciudadanía y Desarrollo
                </p>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-3.jpg" alt="compromiso 3">
        </div>
    </div>
    <!-- 4 -->
    <button data-id="3"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">4.</span>
            <p class="text-left leading-tight">Implementación de los derechos de participación y acceso a la
                información ambiental (Escazú).</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio del Ambiente, Agua y Transición Ecológica
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Eduardo Mayorga
                </p>
                <a href="mailto:eduardo.mayorga@ambiente.gob.ec"
                    class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    eduardo.mayorga@ambiente.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    "Universidad de Los Hemisferios, a través de Centro Internacional de Investigaciones sobre Ambiente
                    y Territorio"
                </p>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-4.jpg" alt="compromiso 4">
        </div>
    </div>
    <!-- 5 -->
    <button data-id="4"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">5.</span>
            <p class="text-left leading-tight">Co-diseño de la hoja de ruta para la implementación del Estándar
                EITI para mejorar la transparencia en las industrias extractivas en Ecuador (petróleo, gas y
                minería).</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio de Energía y Recursos Naturales No Renovables
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Viceministro de Minas
                </p>
                <a href="mailto:asuntos.internacionales@recursosyenergia.gob.ec"
                    class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    asuntos.internacionales@recursosyenergia.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <ul class="font-medium">
                    <li class="mb-2 list-inside list-disc">
                        Fundación Ciudadanía y Desarrollo "Universidad de Los Hemisferios, a través de Centro
                        Internacional de Investigaciones sobre Ambiente y Territorio", Corporación Participación
                        Ciudadana, Grupo FARO
                    </li>
                    <li class="mb-2 list-inside list-disc">
                        Universidad de Los Hemisferios, a través de Centro Internacional de Investigaciones sobre
                        Ambiente y Territorio
                    </li>
                    <li class="mb-2 list-inside list-disc">
                        Corporación Participación Ciudadana
                    </li>
                    <li class="list-inside list-disc">
                        Grupo FARO
                    </li>
                </ul>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-5.jpg" alt="compromiso 5">
        </div>
    </div>
    <!-- 6 -->
    <button data-id="5"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">6.</span>
            <p class="text-left leading-tight">Desarrollo de capacidades para garantizar la transparencia y el
                acceso a la información pública.</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Defensoría del Pueblo
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Emilefran Pazmiño
                </p>
                <a href="mailto:emilefran.pazmino@dpe.gob.ec"
                    class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    emilefran.pazmino@dpe.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Corporación Participación Ciudadana
                </p>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-6.jpg" alt="compromiso 6">
        </div>
    </div>
    <!-- 7 -->
    <button data-id="6"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">7.</span>
            <p class="text-left leading-tight">Co-creación del Plan Nacional de Prevención y Erradicación de la
                Violencia contra las Mujeres y de Género y creación de un observatorio ciudadano de violencia de
                género y diversidades sexo-genéricas</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Secretaría de Derechos Humanos
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Catherine Chalá
                </p>
                <a href="mailto:sonia.chala@derechoshumanos.gob.ec"
                    class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    sonia.chala@derechoshumanos.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <ul class="font-medium">
                    <li class="mb-2 list-inside list-disc">
                        Fundación Esquel
                    </li>
                    <li class="list-inside list-disc">
                        Fundación Diálogo Diverso
                    </li>
                </ul>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-7.jpg" alt="compromiso 7">
        </div>
    </div>
    <!-- 8 -->
    <button data-id="7"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">8.</span>
            <p class="text-left leading-tight">Primer laboratorio de innovación ciudadana de Ecuador</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Presidencia de la República del Ecuador
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Evelin Yandún
                </p>
                <a href="mailto:yandune@presidencia.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    yandune@presidencia.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Fundación San Francisco Global
                </p>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-8.jpg" alt="compromiso 8">
        </div>
    </div>
    <!-- 9 -->
    <button data-id="8"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">9.</span>
            <p class="text-left leading-tight">Ciudadanización de la mejora de los trámites (simplificación)</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 mb-4 lg:mb-8 xl:mb-10 hidden accordion_content"
        style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <ul class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    <li class="list-inside list-disc mb-2">
                        Presidencia de la República del Ecuador
                    </li>
                    <li class="list-inside list-disc">
                        Ministerio de Telecomunicaciones y de la Sociedad de la Información
                    </li>
                </ul>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Pablo Veintimilla
                </p>
                <a href="mailto:pomap@presidencia.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    pomap@presidencia.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Instituto de Altos Estudios Nacionales
                </p>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-9.jpg" alt="compromiso 9">
        </div>
    </div>
    <!-- 10 -->
    <button data-id="9"
        class="xl:text-lg font-medium flex justify-between mx-auto w-10/12 xl:w-8/12 mb-4 lg:mb-6 xl:mb-8 accordion_button">
        <div class="flex w-11/12 xl:w-10/12">
            <span class="text-blue-dark mr-4">10.</span>
            <p class="text-left leading-tight">Co-creación de una estrategia para la mejora de la Calidad de los
                Servicios Públicos de la Función Ejecutiva</p>
        </div>
        <img class="accordion_image" src="/images/icons/open-acordion.svg" alt="open accordion">
    </button>
    <div class="py-8 lg:py-10 xl:py-12 hidden accordion_content" style="background-color: #fff;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-x-10 lg:gap-x-0 lg:grid-cols-12 items-center gap-y-4">
            <div class="order-2 md:order-1 lg:col-start-1 lg:col-end-6">
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD RESPONSABLE</h4>
                <p class="font-medium mb-4 lg:mb-6 xl:mb-8">
                    Ministerio del Trabajo
                </p>
                <h4 class="font-bold text-blue-dark uppercase mb-2">CONTACTO</h4>
                <p class="font-medium">
                    Eduardo Mendoza
                </p>
                <a href="mailto:xavier_mendoza@trabajo.gob.ec" class="font-medium mb-4 lg:mb-6 xl:mb-8 flex items-center">
                    <img class="h-3 mr-2" src="/images/icons/email.png" alt="email icon">
                    xavier_mendoza@trabajo.gob.ec
                </a>
                <h4 class="font-bold text-blue-dark uppercase mb-2">ENTIDAD CONTRAPARTE</h4>
                <p class="font-medium">
                    Colegio de Administradores Públicos de Loja 
                </p>
            </div>
            <img class="order-1 md:order-2 lg:col-start-9 lg:col-end-13" src="/images/compromisos/compromiso-10.jpg" alt="compromiso 10">
        </div>
    </div>
</div>