<div class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-70 z-50 overflow-auto hidden" id="descarga-de-datos">
    <div class="text-right text-white px-6 pt-2">
        <button aria-label="Cerrar" data-dismiss="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 stroke-current" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M18 6 6 18M6 6l12 12"/></svg>
        </button>
    </div>
    <div class="p-6 mx-auto max-w-2xl bg-white">
        <p>Para descargar los datos da clic en “Descargar datos CSV” en la herramienta de exploración de datos. En el siguiente GIF se presentan los pasos a seguir:</p>
        <p class="mt-6">
            <img src="/gifs/descargar-datos.gif" alt="Cómo descargar datos">
        </p>
    </div>
</div>