<div class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-70 z-50 overflow-auto hidden" id="evidencias">
    <div class="text-right text-white px-6 pt-2">
        <button aria-label="Cerrar" data-dismiss="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 stroke-current" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M18 6 6 18M6 6l12 12"/></svg>
        </button>
    </div>
    <div class="p-6 mx-auto max-w-6xl">
        <div class="overflow-auto">
            <table class="bg-white md:table-fixed">
                <thead>
                    <tr class="bg-blue-dark text-white">
                        <td class="px-4 py-2 font-bold w-1/2">Nombre compromiso</td>
                        <td class="px-4 py-2 font-bold w-1/4">Fechas de inicio y finalización</td>
                        <td class="px-4 py-2 font-bold w-1/4">Enlace a evidencias</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Elaboración colaborativa de la política de datos abiertos y la guía para su implementación</td>
                        <td class="px-4 py-2 border border-gray-300">1/2/2020 - 30/4/2022</td>
                        <td class="px-4 py-2 border border-gray-300"><a target="_blank" class="text-blue-dark underline" href="https://drive.google.com/drive/folders/1RTtdH9cXV9_onQ5DKVFqFFalUlmhtrZ9?usp=sharing">https://drive.google.com/drive/folders/1RTtdH9cXV9_onQ5DKVFqFFalUlmhtrZ9?usp=sharing</a></td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Re-diseño y actualización del portal de datos abiertos</td>
                        <td class="px-4 py-2 border border-gray-300">1/1/2020 - 31/10/2021</td>
                        <td class="px-4 py-2 border border-gray-300"><a target="_blank" class="text-blue-dark underline" href="https://drive.google.com/drive/folders/1S8i1TzXeaITe0lP32LQDAH29YBCgzGEP?usp=sharing">https://drive.google.com/drive/folders/1S8i1TzXeaITe0lP32LQDAH29YBCgzGEP?usp=sharing</a></td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Plataforma de Información Abierta de Contratación Pública</td>
                        <td class="px-4 py-2 border border-gray-300">1/1/2020 - 31/12/2021</td>
                        <td class="px-4 py-2 border border-gray-300"><a target="_blank" class="text-blue-dark underline" href="https://drive.google.com/drive/folders/1qOYYJy4G2OMIGDiXUSfps9D_9Dz0CkWF?usp=sharing">https://drive.google.com/drive/folders/1qOYYJy4G2OMIGDiXUSfps9D_9Dz0CkWF?usp=sharing</a></td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Implementación de los derechos de participación y acceso a la información ambiental (Escazú)</td>
                        <td class="px-4 py-2 border border-gray-300">1/7/2020 - 30/6/2022</td>
                        <td class="px-4 py-2 border border-gray-300"><a target="_blank" class="text-blue-dark underline" href="https://drive.google.com/drive/folders/1eSuH6KHEz7kJU4CAR-gRxtnllpUg5uqo?usp=sharing">https://drive.google.com/drive/folders/1eSuH6KHEz7kJU4CAR-gRxtnllpUg5uqo?usp=sharing</a></td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Co-diseño de la hoja de ruta para la implementación del Estándar EITI para mejorar la transparencia en las industrias extractivas en Ecuador (petróleo, gas y minería)</td>
                        <td class="px-4 py-2 border border-gray-300">1/1/2020 - 31/8/2021</td>
                        <td class="px-4 py-2 border border-gray-300"><a target="_blank" class="text-blue-dark underline" href="https://drive.google.com/drive/folders/1Gbb2OGKypbR2GyqJ34DQNRaEF5Bo_9ZN?usp=sharing">https://drive.google.com/drive/folders/1Gbb2OGKypbR2GyqJ34DQNRaEF5Bo_9ZN?usp=sharing</a></td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Desarrollo de capacidades para garantizar la transparencia y el acceso a la información pública</td>
                        <td class="px-4 py-2 border border-gray-300">1/1/2020 - 30/6/2022</td>
                        <td class="px-4 py-2 border border-gray-300"><a target="_blank" class="text-blue-dark underline" href="https://drive.google.com/drive/folders/1GkzFCsR4atGmmLCoorVkqm2vi6lwo-g4?usp=sharing">https://drive.google.com/drive/folders/1GkzFCsR4atGmmLCoorVkqm2vi6lwo-g4?usp=sharing</a></td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Co-creación del Plan Nacional de Prevención y Erradicación de la Violencia contra las Mujeres y de Género y creación de un observatorio ciudadano de violencia de género y diversidades sexo-genéricas</td>
                        <td class="px-4 py-2 border border-gray-300">1/7/2020 - 30/6/2022</td>
                        <td class="px-4 py-2 border border-gray-300"><a target="_blank" class="text-blue-dark underline" href="https://drive.google.com/drive/folders/1fAHcRX0o54uUAWRHzh-0L14SJiYkwYMH?usp=sharing">https://drive.google.com/drive/folders/1fAHcRX0o54uUAWRHzh-0L14SJiYkwYMH?usp=sharing</a></td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Primer laboratorio de innovación ciudadana de Ecuador</td>
                        <td class="px-4 py-2 border border-gray-300">1/1/2020 - 30/6/2022</td>
                        <td class="px-4 py-2 border border-gray-300"><a target="_blank" class="text-blue-dark underline" href="https://drive.google.com/drive/folders/1WXWIuBMo2qhK39mAPDGwws1HTCuEMjJ7?usp=sharing">https://drive.google.com/drive/folders/1WXWIuBMo2qhK39mAPDGwws1HTCuEMjJ7?usp=sharing</a></td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Ciudadanización de la mejora de los trámites (simplificación)</td>
                        <td class="px-4 py-2 border border-gray-300">1/7/2020 - 31/3/2022</td>
                        <td class="px-4 py-2 border border-gray-300"><a target="_blank" class="text-blue-dark underline" href="https://drive.google.com/drive/folders/1NXS1j8t6KAVXOxBw0rBrv8062jf9QFvM?usp=sharing">https://drive.google.com/drive/folders/1NXS1j8t6KAVXOxBw0rBrv8062jf9QFvM?usp=sharing</a></td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Co-creación de una estrategia para la mejora de la Calidad de los Servicios Públicos de la Función Ejecutiva</td>
                        <td class="px-4 py-2 border border-gray-300">1/1/2020 - 30/6/2022</td>
                        <td class="px-4 py-2 border border-gray-300">https://drive.google.com/drive/folders/1wkZfXowA6b8OfLN9ZZ-zS3GV0Vqw3t49?usp=sharing</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>