<footer>
    <picture class="">
        <source srcset="/images/general/footer-bar@2x.png" media="(min-width: 1024px)">
        <img srcset="/images/general/footer-bar.png" alt="footer bar">
    </picture>
    <div class="w-11/12 lg:w-10/12 mx-auto grid grid-cols-1 gap-y-10 lg:gap-y-4 lg:grid-cols-3 items-center py-2 lg:py-3 xl:py-4">
        <div class="lg:col-start-1 lg:col-end-2">
            <div class="text-center">
                <p class="xl:text-lg font-bold mb-2">Más información:</p>
                <a class="block xl:text-lg font-medium mb-3"
                    href="mailto:gobiernoabiertoec2020@gmail.com">gobiernoabiertoec2020@gmail.com</a>
                <ul class="grid grid-cols-5 gap-x-2 lg:gap-x-4 xl:gap-x-6 mx-auto w-10/12 items-center">
                    <li><a href="#"><img class="mx-auto" src="/images/icons/twitter.svg" alt=""></a></li>
                    <li><a href="#"><img class="mx-auto" src="/images/icons/facebook.svg" alt=""></a></li>
                    <li><a href="#"><img class="mx-auto" src="/images/icons/youtube.svg" alt=""></a></li>
                    <li><a href="#"><img class="mx-auto" src="/images/icons/iviit.svg" alt=""></a></li>
                    <li><a href="#"><img class="mx-auto" src="/images/icons/telegram.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="lg:col-start-3 lg:col-end-4">
            <picture class="">
                <source srcset="/images/general/logo-cooperacion-alemana@2x.png" media="(min-width: 1024px)">
                <img class="w-8/12 mx-auto" srcset="/images/general/logo-cooperacion-alemana.png" alt="logo cooperacion alemana">
            </picture>
        </div>
        <div class="lg:col-start-1 lg:col-end-4">
            <p class="font-bold text-lg lg:text-xl xl:text-2xl text-center">Grupo Núcleo Gobierno Abierto Ecuador</p>
        </div>
    </div>
    <div class="py-6 lg:py-10 xl:py-14 bg-grey-dark">
        <picture>
            <source srcset="/images/general/logos-footer@2x.png" media="(min-width: 1024px)">
            <img class="w-10/12 mx-auto" srcset="/images/general/logos-footer.png" alt="footer bar">
        </picture>
    </div>
    <picture class="">
        <source srcset="/images/general/footer-bar@2x.png" media="(min-width: 1024px)">
        <img srcset="/images/general/footer-bar.png" alt="footer bar">
    </picture>
</footer>