<footer class="mx-auto max-w-screen-2xl">
    <div class="py-8 bg-grey-dark">
        <p class="font-bold text-lg lg:text-xl xl:text-2xl text-center text-white mb-8">Grupo Núcleo Gobierno Abierto Ecuador</p>
        <div class="grid grid-cols-2 lg:grid-cols-12 items-center gap-y-8 lg:gap-y-4 xl:gap-y-6 mx-auto w-10/12 lg:w-full">
            <img class="mx-auto lg:col-start-1 lg:col-end-4" src="/images/general/logo-footer-fcd.svg" alt="logo fcd">
            <img class="mx-auto lg:col-start-4 lg:col-end-7" src="/images/general/logo-footer-farc.svg" alt="logo farc">
            <img class="mx-auto lg:col-start-7 lg:col-end-10" src="/images/general/logo-footer-fundapi.svg" alt="logo fundapi">
            <img class="mx-auto lg:col-start-10 lg:col-end-13" src="/images/general/logo-footer-esquel.svg" alt="logo esquel">
            <img class="mx-auto lg:col-start-1 lg:col-end-5" src="/images/general/logo-footer-universidad-hemisferios.svg" alt="logo universidad hemisferos">
            <img class="mx-auto lg:col-start-5 lg:col-end-9" src="/images/general/logo-footer-iaen.svg" alt="logo iaen">
            <img class="mx-auto lg:col-start-9 lg:col-end-13" src="/images/general/logo-footer-utpl.svg" alt="logo utpl">
            <img class="mx-auto lg:col-start-1 lg:col-end-5" src="/images/general/logo-footer-presidencia-ecuador.svg" alt="logo presidencia">
            <img class="mx-auto lg:col-start-5 lg:col-end-9" src="/images/general/logo-footer-secretaria-nacional.svg" alt="logo secretaria">
            <img class="mx-auto lg:col-start-9 lg:col-end-13" src="/images/general/logo-footer-ministerio-telecomunicaciones.svg" alt="logo ministerio telecomunicaciones">
            <img class="mx-auto lg:col-start-1 lg:col-end-5" src="/images/general/logo-footer-ministerio-produccion.svg" alt="logo ministro produccion">
            <img class="mx-auto lg:col-start-5 lg:col-end-9" src="/images/general/logo-footer-defensoria-pueblo.svg" alt="logo defensoria pueblo">
            <img class="col-start-1 col-end-3 mx-auto lg:col-start-9 lg:col-end-13" src="/images/general/logo-footer-gobierno.svg" alt="logo gobierno">
        </div>
    </div>
    <div class="w-11/12 mx-auto grid grid-cols-1 gap-y-10 lg:gap-y-4 lg:grid-cols-3 items-center py-2 lg:py-3 xl:py-4">
        <div class="lg:col-start-1 lg:col-end-2">
            <div class="text-center">
                <p class="xl:text-lg font-bold mb-2">Más información:</p>
                <a class="block xl:text-lg font-medium mb-3"
                    href="mailto:gobiernoabiertoec2020@gmail.com">gobiernoabiertoec2020@gmail.com</a>
                <ul class="grid grid-cols-5 gap-x-2 lg:gap-x-4 xl:gap-x-6 mx-auto w-10/12 items-center">
                    <li><a href="#"><img class="mx-auto" src="/images/icons/twitter.svg" alt=""></a></li>
                    <li><a href="#"><img class="mx-auto" src="/images/icons/facebook.svg" alt=""></a></li>
                    <li><a href="#"><img class="mx-auto" src="/images/icons/youtube.svg" alt=""></a></li>
                    <li><a href="#"><img class="mx-auto" src="/images/icons/iviit.svg" alt=""></a></li>
                    <li><a href="#"><img class="mx-auto" src="/images/icons/telegram.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="lg:col-start-3 lg:col-end-4">
            <picture class="">
                <source srcset="/images/general/logo-cooperacion-alemana.png" media="(min-width: 1024px)">
                <img class="w-8/12 mx-auto" srcset="/images/general/logo-cooperacion-alemana.png" alt="logo cooperacion alemana">
            </picture>
        </div>
    </div>
    <picture class="">
        <source srcset="/images/general/footer-bar@2x.png" media="(min-width: 1024px)">
        <img srcset="/images/general/footer-bar.png" alt="footer bar">
    </picture>
</footer>