<details class="w-10/12 md:w-9/12 lg:w-7/12 xl:w-6/12 mx-auto text-center mb-4 lg:mb-6 xl:mb-8">
    <summary class="uppercase py-3 px-6 bg-grey-dark text-white inline-block cursor-pointer mb-4 lg:mb-6 xl:mb-8">
        Como usar esta
        herramienta</summary>
    <p class="lg:text-lg mb-4 lg:mb-6 xl:mb-8">
        La herramienta de visualización de datos desarrollada por Datasketch permitirá a los usuarios de
        la plataforma explorar cada uno de los indicadores seleccionados en el marco de la consultoría y
        la visualización correspondiente a dicho indicador, sus compromisos e hitos.
    </p>
    <p class="lg:text-lg mb-4 lg:mb-6 xl:mb-8">
        La estructura de la herramienta de visualización consiste en dos paneles, uno relacionado con la
        selección de indicadores y otro de visualización de datos. Cada una de las gráficas se podrá
        descargar en distintos formatos y se podrá seleccionar cada uno de los compromisos de acuerdo al
        tipo de indicador seleccionado.
    </p>
    <p class="lg:text-lg mb-4 lg:mb-6 xl:mb-8">
        En la parte inferior del primer panel, se encuentra la fecha de última actualización de la información.
    </p>
    <ul>
        <li class="list-decimal list-inside lg:text-lg mb-4 lg:mb-6 xl:mb-8">
            Al seleccionar un indicador y un compromiso, se podrán visualizar las gráficas
            <video class="mt-4 lg:mb-6 xl:mb-8" src="/gifs/GIF 1.mp4" autoplay loop></video>
        </li>
        <li class="list-decimal list-inside lg:text-lg mb-4 lg:mb-6 xl:mb-8">
            Es posible descargar las visualizaciones en formato JPEG, PDF, PNG y HTML
            <video class="mt-4 lg:mb-6 xl:mb-8" src="/gifs/GIF 2.mp4" autoplay loop></video>
        </li>
        <li class="list-decimal list-inside lg:text-lg mb-4 lg:mb-6 xl:mb-8">
            Es posible descargar los datos en formato CSV, XLSX y JSON
            <video class="mt-4 lg:mb-6 xl:mb-8" src="/gifs/GIF 3.mp4" autoplay loop></video>
        </li>
        <li class="list-decimal list-inside lg:text-lg mb-4 lg:mb-6 xl:mb-8">
            Las visualizaciones están disponibles a través de gráficas o tablas de datos
            <video class="mt-4 lg:mb-6 xl:mb-8" src="/gifs/GIF 4.mp4" autoplay loop></video>
        </li>
    </ul>
</details>
<iframe class="mx-auto h-screen w-11/12" src="https://datasketch.shinyapps.io/paga-app/" frameborder="0"></iframe>