<header class="bg-body flex items-center justify-between">
    <img class="h-28 lg:h-24" src="/images/general/logo-gobierno-abierto.png" alt="logo gobierno abierto">
    <nav class="text-white uppercase font-medium lg:w-10/12">
        <ul class="flex flex-col lg:items-center lg:flex-row lg:justify-around duration-300">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ $menu_item_url := .URL | relLangURL }}
            {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
            {{ if eq $menu_item_url $page_url }}
            <li>
                <a class="text-blue-light font-medium duration-300" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ else }}
            {{ if .HasChildren }}
            <li class="menu">
                <p>
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </p>
                <ul class="submenu">
                    {{ range .Children }}
                    <li>
                        <a class="hover:text-blue-light duration-300" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li>
                <a class="hover:text-blue-light duration-300" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
            {{ end }}
            <button class="uppercase py-2 px-4" style="background-color: #787D80;">Iniciar Sesión</button>
        </ul>
    </nav>
</header>