{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="bg-blue-dark pt-36 pb-16 lg:pt-40 lg:pb-14 text-center lg:col-start-1 lg:col-end-9">
        <h2 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl uppercase font-bold mb-6 lg:mb-10 xl:mb-12"
            style="color: #3B3F66;">
            Ecuador
        </h2>
        <h1
            class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl uppercase font-bold text-blue-dark bg-white py-4 lg:py-6 mb-6 lg:mb-10 xl:mb-14">
            <span class="block text-lg lg:text-xl font-normal">ESTAMOS EN <strong>ETAPA DE IMPLEMENTACIÓN</strong>
                DEL</span>
            i PLAN DE ACCIÓN
        </h1>
        <p class="text-white text-lg lg:text-xl">
            PLAN DE ACCIÓN DE GOBIERNO ABIERTO <span class="block font-bold">2019 - 2022</span>
        </p>
    </div>
    <div
        class="lg:col-start-9 lg:col-end-13 p-8 lg:px-12 xl:px-20 text-center lg:text-left py-12 lg:pt-36 lg:pb-12 grid place-items-center">
        <p class="font-medium lg:text-lg xl:text-xl w-10/12 md:w-8/12 lg:w-full mx-auto text-center lg:text-left">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo
        </p>
    </div>
    <div class="py-12 lg:py-16 xl:py-20 lg:col-start-1 lg:col-end-13" style="background-color: #E8E7E6;">
        <div class="text-center mb-6 md:mb-8 lg:mb-10 xl:mb-12 mx-auto w-10/12">
            <h2 class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold mb-2 text-grey-dark">
                Conoce el avance
            </h2>
            <p class="xl:text-lg mb-4 lg:mb-6 xl:mb-8">Explora la implementación de compromisos que hacen parte del
                <a class="font-bold text-blue-dark" href="{{ relref . " primer-plan.md" }}">Primer Plan de Acción.</a>
            </p>
        </div>
        {{ partial "how-to.html" . }}
    </div>
    <div class="py-12 lg:py-16 xl:py-20 lg:col-start-1 lg:col-end-13">
        <div class="text-center lg:text-left mx-auto w-10/12 md:w-8/12 lg:w-7/12">
            <p class="xl:text-lg mb-4 lg:mb-6 xl:mb-8">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            </p>
            <img src="/images/inicio/how-to-app.png" alt="how to use app">
        </div>
    </div>
    <div class="bg-orange py-16 lg:py-20 xl:py-24 text-center lg:col-start-1 lg:col-end-9 grid place-items-center">
        <div>
            <h2 class="block normal-case text-white text-2xl lg:text-3xl xl:text-4xl font-bold mb-6 lg:mb-8 xl:mb-12">
                Descarga el reporte de <br> seguimiento trimestral
            </h2>
            <a class="uppercase py-3 px-6 " href="#" style="background-color: #FBF9F8;">Reporte Trimestral</a>
        </div>
    </div>
    <picture class="lg:col-start-9 lg:col-end-13">
        <source srcset="/images/inicio/descarga-reporte@2x.png" media="(min-width: 1024px)">
        <img class="w-full h-full object-cover object-center" srcset="/images/inicio/descarga-reporte.png"
            alt="Descarga reporte">
    </picture>
    <div class="py-12 lg:py-16 xl:py-20 lg:col-start-1 lg:col-end-13" style="background-color: #E8E7E6;">
        <div class="text-center w-10/12 md:w-6/12 lg:w-5/12 xl:w-4/12 mx-auto">
            <img class="h-36 lg:h-48 mx-auto mb-6 lg:mb-10" src="/images/general/logo-gobierno-abierto.png"
                alt="logo gobierno abierto">
            <p class="font-bold text-lg lg:text-xl mb-6 lg:mb-10">
                Esta plataforma hace parte del Portal Nacional de Gobierno Abierto de Ecuador.
            </p>
            <a href="#" class="uppercase py-2 px-8 bg-grey-dark text-white inline-block cursor-pointer mb-4 lg:mb-6 xl:mb-8">
                IR A PÁGINA PRINCIPAL</a>
        </div>
    </div>
    <!-- <div class="py-16 lg:py-20 xl:py-24 text-center lg:col-start-1 lg:col-end-9 grid place-items-center">
        <div class="w-11/12 lg:w-8/12 xl:w-7/12 mx-auto">
            <h2 class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold mb-4 lg:mb-6 xl:mb-8 text-blue">
                ¿Qué son los indicadores?
            </h2>
            <p class="lg:text-lg xl:text-xl font-medium">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in hendrerit in vulputate velit esse molestie consequat
            </p>
        </div>
    </div> -->
    <!-- <div class="py-12 lg:py-0 lg:col-start-9 lg:col-end-13 bg-blue grid place-items-center">
        <div class="text-center w-full">
            <h3 class="block text-2xl xl:text-3xl font-medium mb-8 lg:mb-12 xl:mb-16 text-white">
                Conoce la
                <span class="block bg-white text-blue">metodología</span>
                de selección
                <br>
                de indicadores
            </h3>
            <a class="uppercase py-3 px-6" href="/archives/Metodología de selección de indicadores PAGA.pdf"
                style="background-color: #FBF9F8;" download>Descargar</a>
        </div>
    </div> -->
    <!-- <div class="py-16 lg:py-20 xl:py-24 text-center lg:col-start-1 lg:col-end-9 grid place-items-center">
        <div class="w-11/12 lg:w-8/12 xl:w-7/12 mx-auto">
            <h2
                class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold mb-4 lg:mb-6 xl:mb-8 text-orange-light">
                Seguimiento a Compromisos
            </h2>
            <p class="lg:text-lg xl:text-xl font-medium mb-8 lg:mb-12 xl:mb-16">
                Accede a los datos con los que se realiza la implementación de los indicadores de monitoreo, seguimiento
                y evaluación de cada uno de los compromisos
            </p>
            <a class="uppercase py-3 px-6 bg-orange-light text-white"
                href="/excel/2021-10-22 respuestas a formularios.xlsx" download>CONOCER LOS DATOS</a>
        </div>
    </div> -->
    <!-- <div class="py-12 lg:py-0 lg:col-start-9 lg:col-end-13 bg-orange-light grid place-items-center">
        <div class="text-center w-full">
            <h3 class="block text-2xl xl:text-3xl font-medium mb-8 lg:mb-12 xl:mb-16 text-white">
                Conoce las
                <span class="block bg-white text-orange-light">evidencias</span>
                de cada
                <br>
                compromiso
            </h3>
            <a class="uppercase py-3 px-6" href="#" style="background-color: #FBF9F8;">Leer Más</a>
        </div>
    </div> -->
</div>
{{ end }}