{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="bg-blue-dark py-16 lg:py-20 xl:py-24 text-center lg:col-start-1 lg:col-end-9">
        <h2 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl uppercase font-bold mb-4 lg:mb-8 xl:mb-10"
            style="color: #3B3F66;">
            Ecuador
            <span class="block normal-case text-white text-xl lg:text-2xl xl:text-3xl font-medium">Plan de Acción de
                Gobierno Abierto</span>
            <span class="block normal-case text-white text-xl lg:text-2xl xl:text-3xl font-medium">2019-2021</span>
        </h2>
        <h1
            class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl uppercase font-bold text-blue-dark bg-white py-2 lg:py-4 mb-4 lg:mb-8 xl:mb-10">
            i PLAN DE ACCIÓN
        </h1>
        <span class="block normal-case text-white text-xl lg:text-2xl xl:text-3xl font-medium">
            ESTAMOS EN ETAPA DE IMPLEMENTACIÓN
        </span>
    </div>
    <div class="lg:col-start-9 lg:col-end-13 self-center p-8 lg:px-12 xl:px-16 text-center lg:text-left">
        <p class="font-medium lg:text-lg xl:text-xl">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo
        </p>
    </div>
    <div class="bg-orange py-16 lg:py-20 xl:py-24 text-center lg:col-start-1 lg:col-end-9 grid place-items-center">
        <div>
            <h2 class="block normal-case text-white text-2xl lg:text-3xl xl:text-4xl font-bold mb-6 lg:mb-8 xl:mb-12">
                Descarga el reporte de <br> seguimiento trimestral
            </h2>
            <a class="uppercase py-3 px-6 " href="#" style="background-color: #FBF9F8;">Reporte Trimestral</a>
        </div>
    </div>
    <picture class="lg:col-start-9 lg:col-end-13">
        <source srcset="/images/inicio/descarga-reporte@2x.png" media="(min-width: 1024px)">
        <img class="w-full h-full object-cover object-center" srcset="/images/inicio/descarga-reporte.png"
            alt="Descarga reporte">
    </picture>
    <div class="py-16 lg:py-20 xl:py-24 text-center lg:col-start-1 lg:col-end-9 grid place-items-center">
        <div class="w-11/12 lg:w-8/12 xl:w-7/12 mx-auto">
            <h2 class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold mb-4 lg:mb-6 xl:mb-8 text-blue">
                ¿Qué son los indicadores?
            </h2>
            <p class="lg:text-lg xl:text-xl font-medium">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in hendrerit in vulputate velit esse molestie consequat
            </p>
        </div>
    </div>
    <div class="py-12 lg:py-0 lg:col-start-9 lg:col-end-13 bg-blue grid place-items-center">
        <div class="text-center w-full">
            <h3 class="block text-2xl xl:text-3xl font-medium mb-8 lg:mb-12 xl:mb-16 text-white">
                Conoce la
                <span class="block bg-white text-blue">metodología</span>
                de selección
                <br>
                de indicadores
            </h3>
            <a class="uppercase py-3 px-6" href="#" style="background-color: #FBF9F8;">Leer Más</a>
        </div>
    </div>
    <div class="py-12 lg:py-16 xl:py-20 lg:col-start-1 lg:col-end-13" style="background-color: #E8E7E6;">
        <div class="text-center mb-6 md:mb-8 lg:mb-10 xl:mb-12 mx-auto w-11/12">
            <h2 class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold mb-2 text-grey-dark">
                Conoce el avance
            </h2>
            <p class="xl:text-lg mb-4 lg:mb-6 xl:mb-8 font-medium">Explora la implementación de compromisos que hacen parte del
                <span class="text-blue-dark font-bold">Primer Plan de Acción.</span></p>
            <button class="uppercase py-3 px-6 bg-grey-dark text-white">Como usar esta herramienta</button>
        </div>
        <iframe class="mx-auto h-screen w-11/12" src="https://datasketch.shinyapps.io/paga-app/" frameborder="0"></iframe>
    </div>
    <div class="py-16 lg:py-20 xl:py-24 text-center lg:col-start-1 lg:col-end-9 grid place-items-center">
        <div class="w-11/12 lg:w-8/12 xl:w-7/12 mx-auto">
            <h2 class="block normal-case text-2xl lg:text-3xl xl:text-4xl font-bold mb-4 lg:mb-6 xl:mb-8 text-orange-light">
                Seguimiento a Compromisos
            </h2>
            <p class="lg:text-lg xl:text-xl font-medium mb-8 lg:mb-12 xl:mb-16">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit.
            </p>
            <a class="uppercase py-3 px-6 bg-orange-light text-white" href="#">CONOCER LOS DATOS</a>
        </div>
    </div>
    <div class="py-12 lg:py-0 lg:col-start-9 lg:col-end-13 bg-orange-light grid place-items-center">
        <div class="text-center w-full">
            <h3 class="block text-2xl xl:text-3xl font-medium mb-8 lg:mb-12 xl:mb-16 text-white">
                Conoce las
                <span class="block bg-white text-orange-light">evidencias</span>
                de cada
                <br>
                compromiso
            </h3>
            <a class="uppercase py-3 px-6" href="#" style="background-color: #FBF9F8;">Leer Más</a>
        </div>
    </div>
</div>
{{ end }}